h3,figcaption{font-size: 40px; font-family: "华文彩云"; text-align: center; letter-spacing: 50px; text-shadow: 10px 10px 10px aqua;}
summary{font-size: 45px; font-weight: bolder; line-height: 35px;}
.one{color: rgb(210, 30, 141);}
.two{color: forestgreen;}
.three{color:brown;}
.four{color: blue;}
.five{color: cornflowerblue;}
.six{color: darkmagenta;}
.字号{font-size: 35px;}
.字间距{letter-spacing: 1px;}
.间距{letter-spacing: 25px;}
.居中{text-align: center;}
.下划线{text-decoration: underline;}
.加粗{font-weight: bold;}
.细粗{font-weight: lighter;}
.缩进{text-indent: 4em;}
.行间距{line-height: 2em;}
#阴影{text-shadow: 5px 5px 5px red;}

